<h1> Voluntarios </h1>
<ul>
    <% voluntarios.forEach(function(voluntario){ %>
        <li>Nombre: <%= voluntario.name %>, Edad: <%= voluntario.age %>, Pais: <%= voluntario.country %></li>
    <% }) %>
</ul>

<form method="post" action="/voluntarios/add">
    <label> Nombre </label><br>
    <input type = "text" name="name"><br>
    <label> Edad </label><br>
    <input type = "text" name="age"><br>
    <label> Pais </label><br>
    <input type = "text" name="country"><br>
    <br>
    <input type = "submit" value="Añadir Voluntario"><br>
</form>

<h1> Organizaciones </h1>
<ul>
    <% organizaciones.forEach(function(organizacion){ %>
        <li>Nombre: <%= organizacion.name %>,  Pais: <%= organizacion.country %></li>
    <% }) %>
</ul>

<form method="post" action="/organizaciones/add">
    <label> Nombre </label><br>
    <input type = "text" name="name"><br>
    <label> Pais </label><br>
    <input type = "text" name="country"><br>
    <br>
    <input type = "submit" value="Añadir Organización"><br>
</form>

<h1> Proyectos </h1>
<ul>
    <% proyectos.forEach(function(proyecto){ %>
        <li>Nombre: <%= proyecto.name %>,  Pais: <%= proyecto.country %>, Población Objetivo: <%= proyecto.targetPopulation %>, Duración en Semanas: <%= proyecto.durationWeeks %></li>
    <% }) %>
</ul>

<form method="post" action="/proyectos/add">
    <label> Nombre </label><br>
    <input type = "text" name="name"><br>
    <label> Pais </label><br>
    <input type = "text" name="country"><br>
    <label> Población Objetivo </label><br>
    <input type = "text" name="targetPopulation"><br>
    <label> Duración en Semanas </label><br>
    <input type = "text" name="durationWeeks"><br>
    <br>
    <input type = "submit" value="Añadir Proyecto"><br>
</form>

